.li {
    text-align: center;
    list-style-type: none;
}

.li>a {
    transition: 0.3s;
    display: flex;
    background-color: #fff;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 90px;
    color: #441BFF;
    font-size: 18px;
    font-weight: 700;
    border: 3px solid #441BFF;
    border-radius: 10px;
}

.li>a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #441BFF;
    border-right: 3px solid #441BFF;
    transform: rotate(45deg);
}

.li>a:hover {
    background-color: #d8d8d8;
}